<a href="https://colab.research.google.com/github/anuragbisht12/Machine-Learning-Algorithms/blob/master/MultiLabel_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import scipy
import numpy
import pandas as pd
from scipy.io import arff
data, meta = scipy.io.arff.loadarff('/content/Dataset/yeast-train.arff')
df_train = pd.DataFrame(data)
df_train=df_train.astype(numpy.float64)

In [62]:
data1, meta1 = scipy.io.arff.loadarff('/content/Dataset/yeast-test.arff')
df_test = pd.DataFrame(data1)
df_test=df_test.astype(numpy.float64)

In [63]:
y_train=df_train.iloc[:,-14:-1]
X_train=df_train.iloc[:,:103]
y_test=df_test.iloc[:,-14:-1]
X_test=df_test.iloc[:,:103]

In [42]:
df.columns

Index(['Att1', 'Att2', 'Att3', 'Att4', 'Att5', 'Att6', 'Att7', 'Att8', 'Att9',
       'Att10',
       ...
       'Class5', 'Class6', 'Class7', 'Class8', 'Class9', 'Class10', 'Class11',
       'Class12', 'Class13', 'Class14'],
      dtype='object', length=117)

In [56]:
df.head()

       Att1      Att2      Att3      Att4  ...  Class11  Class12  Class13  Class14
0  0.093700  0.139771  0.062774  0.007698  ...      0.0      0.0      0.0      0.0
1 -0.022711 -0.050504 -0.035691 -0.065434  ...      0.0      1.0      1.0      0.0
2 -0.090407  0.021198  0.208712  0.102752  ...      0.0      1.0      1.0      0.0
3 -0.085235  0.009540 -0.013228  0.094063  ...      0.0      1.0      1.0      1.0
4 -0.088765 -0.026743  0.002075 -0.043819  ...      0.0      0.0      0.0      0.0

[5 rows x 117 columns]

In [14]:
# Here, Att represents the attributes or the independent variables and Class represents the target variables.
from sklearn.datasets import make_multilabel_classification

# this will generate a random multi-label dataset
X, y = make_multilabel_classification(sparse = True, n_labels = 20,
return_indicator = 'sparse', allow_unlabeled = False)

In [15]:
# sparse: If True, returns a sparse matrix, where sparse matrix means a matrix having a large number of zero elements.

# n_labels:  The average number of labels for each instance.

# return_indicator: If ‘sparse’ return Y in the sparse binary indicator format.

# allow_unlabeled: If True, some instances might not belong to any class.

In [16]:
# three methods to solve a multi-label classification problem, namely:

# Problem Transformation
# Adapted Algorithm
# Ensemble approaches

1. Problem Transformation

1.1 Binary Relevance:
This is the simplest technique, which basically treats each label as a separate single class classification problem. 
 
In binary relevance, this problem is broken into 4 different single class classification problems as shown in the figure below.

In [20]:
!pip install scikit-multilearn

Collecting scikit-multilearn
  Downloading https://files.pythonhosted.org/packages/bb/1f/e6ff649c72a1cdf2c7a1d31eb21705110ce1c5d3e7e26b2cc300e1637272/scikit_multilearn-0.2.0-py3-none-any.whl (89kB)
     |████████████████████████████████| 92kB 4.8MB/s
Installing collected packages: scikit-multilearn
Successfully installed scikit-multilearn-0.2.0

In [47]:
# using binary relevance
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB

# initialize binary relevance multi-label classifier
# with a gaussian naive bayes base classifier
classifier = BinaryRelevance(GaussianNB())

# train
classifier.fit(X_train, y_train)

# predict
predictions = classifier.predict(X_test)

we can’t simply use our normal metrics to calculate the accuracy of our predictions. For that purpose, we will use accuracy score metric. This function calculates subset accuracy meaning the predicted set of labels should exactly match with the true set of labels.

In [48]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.10468920392584515

**1.2 Classifier Chains**
the first classifier is trained just on the input data and then each next classifier is trained on the input space and all the previous classifiers in the chain.

In [49]:
# using classifier chains
from skmultilearn.problem_transform import ClassifierChain
from sklearn.naive_bayes import GaussianNB

# initialize classifier chains multi-label classifier
# with a gaussian naive bayes base classifier
classifier = ClassifierChain(GaussianNB())

# train
classifier.fit(X_train, y_train)

# predict
predictions = classifier.predict(X_test)

accuracy_score(y_test,predictions)

0.11777535441657579

**1.3 Label Powerset**
we transform the problem into a multi-class problem with one multi-class classifier is trained on all unique label combinations found in the training data.
All the multilabel columns are combined to form a multiclass column

In [50]:
# using Label Powerset
from skmultilearn.problem_transform import LabelPowerset
from sklearn.naive_bayes import GaussianNB

# initialize Label Powerset multi-label classifier
# with a gaussian naive bayes base classifier
classifier = LabelPowerset(GaussianNB())

# train
classifier.fit(X_train, y_train)

# predict
predictions = classifier.predict(X_test)

accuracy_score(y_test,predictions)

0.18865866957470012

The only disadvantage of this is that as the training data increases, number of classes become more. Thus, increasing the model complexity, and would result in a lower accuracy.

**2. Adapted Algorithm**

adapting the algorithm to directly perform multi-label classification, rather than transforming the problem into different subsets of problems.

For example, multi-label version of kNN is represented by MLkNN.

In [65]:
from skmultilearn.adapt import MLkNN

classifier = MLkNN(k=20)

# train
classifier.fit(X_train.to_numpy(), y_train.to_numpy())

# predict
predictions = classifier.predict(X_test)

accuracy_score(y_test,predictions)

0.1821155943293348

In [55]:
# Another example using adapted algorithm

from skmultilearn.adapt import MLkNN
from scipy import sparse
from skmultilearn.dataset import load_dataset
import sklearn.metrics as metrics

X_train, y_train, feature_names, label_names = load_dataset('emotions', 'train')
X_test, y_test, _, _ =load_dataset('emotions', 'test')

clf = MLkNN(k=5)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print(type(y_pred))  # <class 'scipy.sparse.lil.lil_matrix'>

print(type(y_pred.toarray()))  # <class 'numpy.ndarray'>

y_pred_csr = sparse.csr_matrix(y_pred)

print(type(y_pred_csr))  # <class 'scipy.sparse.csr.csr_matrix'>

accuracy = metrics.accuracy_score(y_test, y_pred)
print(accuracy)  # 0.148

emotions:train - does not exists downloading
Downloaded emotions-train
emotions:test - does not exists downloading
Downloaded emotions-test
<class 'scipy.sparse.lil.lil_matrix'>
<class 'numpy.ndarray'>
<class 'scipy.sparse.csr.csr_matrix'>
0.1485148514851485

In [ ]:
# More at http://scikit.ml/multilabelembeddings.html